.root {
  margin-bottom: 4rem;
}

.featureList {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: space-between;
  padding: 0 var(--container-gap);
}

.title {
  margin: 3rem auto 2rem auto;
}
