.table {
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 1px solid #dee2e6;

  & thead {
    background-color: #343a40;
    color: #fff;
  }

  & th, td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
  }

  & th:first-child, td:first-child {
    padding-left: 1.25rem;
  }

  & th:last-child, td:last-child {
    padding-right: 1.25rem;
  }

  & tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  & tbody tr:hover {
    background-color: #e9ecef;
  }
}

.tableCaption {
  margin: 3.5rem 0 1.5rem 0;
  font-size: 1.6rem;
}
