:root {
  --text-color: #333;
  --secondary-color: #424242;
  --secondary-color-active: #181818;
  --secondary-text-color: white;
  --header-height: 50px;
  --min-page-width: 730px;
  --accent-color: rgb(30,158,196);
  --container-gap: 30px;
}
