.title {
  text-align: center;
  font-weight: lighter;
  padding-bottom: 15px;
}

.recognitionForm {
  max-width: 960px;
  margin: 2rem auto 0 auto;
}

.searchResults {
  width: 750px;
  margin: 0 auto 4rem auto;
}
