.header {
  display: flex;
  min-height: var(--header-height);
  background-color: var(--secondary-color);
  box-shadow: 0 0 5px var(--secondary-color);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  padding: 0 15px;
  gap: 30px;
  min-width: var(--min-page-width);
}

.brand {
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: var(--secondary-text-color);

  .logoIcon {
    height: 50px;
  }
}

.links {
  display: flex;
  gap: 18px;

  & a {
    text-decoration: none;
    color: white;
    position: relative;

    &.active {
      font-weight: bold;

      &::before {
        width: 100%;
      }
    }

    &::before {
      transition: all 0.15s ease-in;
      position: absolute;
      content: '';
      display: block;
      left: 50%;
      transform: translateX(-50%);
      bottom: -2px;
      width: 0;
      background-color: white;
      height: 2px;
    }

    &:hover::before {
      width: 100%;
    }
  }
}

.spaceFiller {
  flex: 1;
}

